@import '../../assets/simplistic.css';

.social-icons{
    i {
        color:gray;
        padding: 10px;
    }
}

.footer{
	@media screen and (max-width:768px){
		flex-direction: column;
    }
    .social-sm {
        display: none;
        @media screen and (max-width:768px){
            display: inline-block;
        }
    }

    
}


.footer-item {
    h6{
        font-size: 24px;
        font-weight: 900;
    }

    #sign-bt {
        margin: 10px 0 0 0;
        background-color: black;
        color:white;
        padding: 10px 5px;
        text-align: center;
        border-radius: 5px;
    }

     @media screen and (max-width:768px){
         display: flex;
        h6,
        a {
            text-align: center;
        }
        li {
            display: none;
        }
     } 

}