@import '../../assets/simplistic.css';

.social-icons{
    i {
        color:gray;
        padding: 10px;
    }
}

.footer-item {
    h6{
        font-size: 24px;
        font-weight: 900;
    }

    
}