@import '_reset.scss';

$mar-side:(10px);
$colWidth: (60px);

@mixin paddings($value){
	padding: $value;
}

%navbar-anchors {
	border-radius: 10px;
}



.container {
	width: 960px;
	height: auto;
	margin: 10px auto 0 auto;
}

.row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
}

@for $i from 1 to 13 {
	.col-#{$i} {
		grid-column: span $i;
	}
}


//Flex Properties.

.flex{
	display:flex;
}

.f-grow-1 {
	flex-grow: 1;
}

.f-grow-2 {
	flex-grow: 2;
}

.f-column{
	flex-direction: column;
}

.f-column-r {
	flex-direction: column-reverse;
}

.f-row-r{
	flex-direction: row-reverse;
}

.jc-c{
	justify-content: center;
}

.jc-s{
	justify-content: start;
}

.jc-e{
	justify-content: end;
}

.jc-a{
	justify-content: space-around;
}

.jc-b{
	justify-content: space-between;
}

.ai-fs{
	align-items: flex-start;
}

.ai-fe{
	align-items: flex-end;
}

.ai-c{
	align-items: center;
}

.ai-st{
	align-items: stretch;
}

.ai-bl{
	align-items: baseline;
}

.as-fs{
	align-self: flex-start;
}

.as-fe{
	align-self: flex-end;
}

.as-c{
	align-self: center;
}

.as-st{
	align-self: stretch;
}

.as-bl{
	align-self: baseline;
}

// nav {
// 	a {
// 		@include paddings(10%);
// 		@extend %navbar-anchors;
// 	}
// }


.h-navbar{
	ul{
		display:flex;
		justify-content: space-around;
		align-items: center;
		li{
			flex-grow: 1;
			display: flex;
			justify-content: center;
			a{
				width:100%;
				display: flex;
				justify-content: center;
				padding-top:10px;
				padding-bottom:10px;
				text-decoration: none;
			}
		}
	}
}