@import '_reset.scss';
@import url('https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans|Merriweather|Merriweather+Sans|Nunito|Nunito+Sans|Quattrocento|Quattrocento+Sans|Roboto|Roboto+Mono|Roboto+Slab');

$formal: ('Roboto Slab', serif);
$sides: "left""bottom""right""top";

@mixin paddings($value, $side) {
	padding-#{$side}: $value;
}

@mixin margins($value, $side) {
	margin-#{$side}: $value;
}

@mixin padding($value) {
	padding: $value;
}

@mixin margin($value) {
	margin: $value;
}

@for $i from 1 to 11 {

	@each $item in $sides {
		.p#{str-slice($item,1,1)}-#{$i} {
			@include paddings($i*2px, $item);
		}
	}
}

@for $i from 1 to 11 {
		.p-#{$i} {
			@include padding($i*2px);
		}
}


@for $i from 1 to 11 {

	@each $item in $sides {
		.m#{str-slice($item,1,1)}-#{$i} {
			@include margins($i*4px, $item);
		}
	}
}

@for $i from 1 to 11 {
	.m-#{$i} {
		@include margin($i*2px);
	}
}

%navbar-anchors {
	border-radius: 10px;
}

main{
	font-family: 'Quattrocento', serif;
}

a{
	text-decoration:none;
	color:black;
}

li{
	text-align: center;
}


.container {

	max-width: 1140px;
	height: auto;
	margin-left: auto;
	margin-right: auto;

	@media screen and (max-width: 960px) {
		width: 100%;
	}

	@media screen and (max-width:720px) {
		width: 100%;
	}

	@media screen and (max-width:540px) {
		width: 100%;
	}

	@media screen and (min-width:539px) {
		width: 100%;
	}
}

.row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	&::after{
		content: "";
		display: block;
		height: 5px;
	}
}

@for $i from 1 to 10{
	.gutter-#{$i} {
		grid-gap: $i*5px;
	}
}



@for $i from 1 to 13 {
	.col-#{$i} {
		grid-column: span $i;
	}
}


//Flex Properties.
.w-100 {
	width:100%;
}


.flex {
	display: flex;
}

.f-grow-1 {
	flex-grow: 1;
}

.f-grow-2 {
	flex-grow: 2;
}

.f-column {
	flex-direction: column;
}

.f-column-r {
	flex-direction: column-reverse;
}

.f-row-r {
	flex-direction: row-reverse;
}

.jc-c {
	justify-content: center;
}

.jc-s {
	justify-content: start;
}

.jc-e {
	justify-content: end;
}

.jc-a {
	justify-content: space-around;
}

.jc-b {
	justify-content: space-between;
}

.ai-fs {
	align-items: flex-start;
}

.ai-fe {
	align-items: flex-end;
}

.ai-c {
	align-items: center;
}

.ai-st {
	align-items: stretch;
}

.ai-bl {
	align-items: baseline;
}

.as-fs {
	align-self: flex-start;
}

.as-fe {
	align-self: flex-end;
}

.as-c {
	align-self: center;
}

.as-st {
	align-self: stretch;
}

.as-bl {
	align-self: baseline;
}



.h-navbar {
	min-height: 60px;
	font-family: $formal;
	

	nav {
		position: fixed;
		z-index: 10;
		display: flex;
		min-height:60px;
		//	width: 100%;
	}

	.brand {
		position: absolute;
		right: 50%;

		.ridge-img{
		//	position:relative;
			height:40px;
		}
	}

	ul {
		display: flex;
//		width: 100%;

		@media screen and (max-width: 540px) {
			flex-direction: column;
		}

		justify-content: space-around;
		align-items: center;

		li {
			flex-grow: 1;
			display: flex;
			justify-content: center;

			a {
				width: 100%;
				display: flex;
				justify-content: center;
				padding-top: 10px;
				padding-bottom: 10px;
				text-decoration: none;
			}
		}
	}
}

.button {
	display: flex;
	justify-content: center;
	padding: 12px 42px;
	margin:10px;
	min-width: 80px;
	max-width: 90px;
	background-color: #FFFFFF;
	border:1px solid #FFFFFF;
	color:black;
	text-decoration: none;
	font-size: calcem(15px);
	border-radius: 2px;
	 transition-property: color,background-color;
	transition: .5s ease-in-out;

	&:hover {
		background-color: lightgray;
		color: white;
	} 
}

.jumbo{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column: span 12;
	height: 600px;
	background-image: url("https://cdn.shopify.com/s/files/1/0613/6213/files/tier1_revision_bigger_1400x.progressive.jpg?v=1552690231");
	position:relative;
	margin-bottom: 20px;
	}
.jumbo-item-left {
	display:flex;
	flex-direction: column;
	align-items: center;
	position:absolute;
	bottom:100px;
	left:100px;
	}
.jumbo-item-right {
	display:flex;
	flex-direction: column;
	align-items: center;
	position:absolute;
	bottom:100px;
	right:100px;
}

.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 1500px;
	margin: 0 auto;


	.footer-item {
		width: 10%;
		height: auto;
		background-color: blue;

		@media screen and (min-width:1500px){
			width: 205px;
		}		
	}
}
.copyright{
	margin-top: 20px;
	padding-top:20px;
	border-top: 1px solid black;
}




